dhis2App/index.html
dhis2App/static
facility-recon-gui/dist/static
facility-recon-backend/lib/dbArchives/*

# ansible
*.retry
.vagrant

# macos
*.DS_Store

# terraform
*.terraform*
terraform.tfstate
terraform.tfstate.backup

# ides
.vscode

# readthedocs
build
_static
_templates
*.mo