[Unit]
Description=facility-recon gui
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory=/home/{{ user }}/facility-recon/facility-recon-gui
ExecStart={{ executable }} dist
Restart=on-failure

[Install]
WantedBy=multi-user.target