[Unit]
Description=facility-recon frontend
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory=/home/{{ user }}/facility-recon/facility-recon-gui
ExecStart=/bin/node build/build.js
Restart=on-failure

[Install]
WantedBy=multi-user.target